<h1> Data Binding Demo </h1>

     {{name}}---- {{i}}
<br><br>

<input type="submit" value="Incremrnt" class="btn btn-primary" (click)="inc()" [disabled]="mydecInc" >
<input type="submit" value="Incremrnt" class="btn btn-danger" (click)="dec()" [disabled]="mydecDec">

<br>
<!-- 
<p>
  <mark>  {{company}} </mark> is the popular online Bootcamp & online courses learning platform
  <mark>  {{company}} </mark>  is the popular online Bootcamp & online courses learning platform
  <mark>  {{company}} </mark> is the popular online Bootcamp & online courses learning platform
  <mark>  {{company}} </mark>  is the popular online Bootcamp & online courses learning platform
    {{company}}is the popular online Bootcamp & online courses learning platform
    {{company}} is the popular online Bootcamp & online courses learning platform
    {{company}} is the popular online Bootcamp & online courses learning platform
    {{company}} is the popular online Bootcamp & online courses learning platform
    {{company}} is the popular online Bootcamp & online courses learning platform
    {{company}}is the popular online Bootcamp & online courses learning platform
    {{company}} is the popular online Bootcamp & online courses learning platform
    {{company}} is the popular online Bootcamp & online courses learning platform
    {{company}} is the popular online Bootcamp & online courses learning platform
    {{company}} is the popular online Bootcamp & online courses learning platform
   
</p> -->


<!-- Name : <input type="text" name="username"  #username>

<input type="submit" value="CLICK" (click)="user(username.value)"> -->

Princlpal :<input type="text" name="principle"  #principle><br>

TIme :<input type="text" name="time" #time><br>

ROI <input type="text" name="roi" #roi><br>

Result :<input type="text" name="result"  value={{result}}><br>

<input type="submit" value="CLICK" (click)="intrest(principle.value,time.value,roi.value)"> 