<div style="text-align: center">
    <h1>Hi Form Demo </h1>
    
    
    <div>
        <form #userForm="ngForm" (ngSubmit)="onSubmitData(userForm.value)">
           <div class="form-inline">
                <label>USer Name<span style="color: red" *ngIf="username.invalid">*</span> :  </label>
                <input type="text" class="form-control" ngModel #username="ngModel" name="username" required><br>
                <span *ngIf="username.invalid && username.touched" style="color: red">user name is Requried....!</span>
           </div>

           <div class="form-inline">
            <label>USer Pass<span style="color: red" *ngIf="userpass.invalid">*</span> :  </label>
                <input type="text" class="form-control" ngModel #userpass="ngModel" required name="userpass" required><br>
                <span *ngIf="userpass.invalid &&  userpass.touched" style="color: red">password is Requried....!</span>
            </div>

       <button type="submit" class="btn btn-primary"> LOGIN </button>

        </form>
    </div>
</div>